[Unit]
Description=Auto-run AFLPlusPlus performance mode

[Service]
Type=oneshot
ExecStart=/usr/local/bin/afl-system-config

[Install]
WantedBy=multi-user.target
